body{
    background-color: black;
    font-family: Arial, Helvetica, sans-serif;
}
.App{
    display: flex;
    flex-direction: column;
    border: solid white;
    width: 100%;
    height: 100vh;
}
.top-row{
    width: 100%;
    height: 40px;
    display:grid;
    border: solid red;
}
.main-content{
    display: flex;
    width: 100%;
    border:solid cyan;
    height: 100%;
}
.watch-list{
    border: dotted pink;
    width: 80%;
    display: flex;
    flex-direction: column;
}